* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mobile_ {
  width: 30%;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo img {
  width: 55%;
  color: black;
}
.logo {
  text-align: center;
}

.login_container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login_container input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login_container > * {
  margin-bottom: 5px;
}

.login {
  margin-top: 10px;
  background-color: rgb(91, 209, 215, 0.7);
  outline: none;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  color: whit;
}

.login_container {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px #ccc solid;
  padding: 30px;
  border-radius: 10px;
  margin-top: 10px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.or_container span {
  margin-left: 10px;
  margin-right: 10px;
  color: #ccc;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.or_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.facebook_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(11, 111, 151);
}
.facebook_btn > * {
  margin-left: 5px;
}

a {
  text-decoration: none;
}

.forgot {
  font-size: small;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color: rgba(6, 91, 95, 0.7);
}

.signup {
  text-align: center;
}

.signup a {
  color: #0095f6;
  font-weight: 600;
  margin-left: 3px;
}

h5 {
  font-weight: 300;
  color: gray;
  text-align: center;
  margin-top: 40px;
}
.getheapp {
  display: flex;
  justify-content: center;
}
.getheapp img {
  width: 100px;
}
